@model ShopTARge22.Models.Forecast.OpenWeatherViewModel


<div class="container">
    <h2>Forecast for the selected city</h2>
    <h2>@Html.DisplayFor(model => model.City)</h2>
    <hr />
    <dl class="row text-dark">
        <div class="form-group row">
            <label asp-for="Temp" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Temp) °C
        </div>

        <div class="form-group row">
            <label asp-for="FeelsLike" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.FeelsLike) °C
        </div>

        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Description)
        </div>

        <div class="form-group row">
            <label asp-for="Pressure" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Pressure)
        </div>

        <div class="form-group row">
            <label asp-for="Humidity" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Humidity)
        </div>

        <div class="form-group row">
            <label asp-for="WindSpeed" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.WindSpeed)
        </div>
    </dl>
</div>

<div class="container">
    <form method="get">
        <button asp-controller="weatherForecasts" asp-action="Index" class="btn btn-success">Index</button>
    </form>
</div>